body {
  background-color: rgb(34, 33, 33);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  font-weight: bold;
  font-size: 30px;
}
.Rock {
  height: 50px; 
}
.btn {
  background-color: rgb(34, 33, 33);
  border-radius: 60px;
  height: 125px;
  width:125px;
  border:3px solid white;
  margin-left: 10px;
  cursor: pointer;
}